<div class="container">
	<div class="panel panel-default">
		<div class="panel-body text-center">
			<h3><%= post.title %></h3><hr>
			<article>
				<%= post.content %>
			</article>
		</div>
	</div>
</div>